*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    width: 100%;
    height: 100vh;
    background: #000;
}
nav{
    width: 100%;
    height: 10vh;
    background: url('');
}